<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask 網頁製作</title>
    <style>
        body{
            margin: 0px;
            text-align: center;
        }
        header{
            justify-content: center;
            text-align: center;
            font-size: 26px;
            background-color: #223344;
            padding: 10px;
            color: #fff;
        }
        div{
            margin-top: 50px;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <header>
        正整數平方計算結果
    </header>
    <div>
        {{ result }}
    </div>
</body>
</html>