<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="homepage.css"/>
    <title>會員系統建立</title>
</head>
<body>
    <header>
        歡迎光臨，這是會員頁
    </header>
    <main>
        <div>
            {{ name }}, 歡迎登入系統
        </div>
    </main>
    <a href="/signout">登出系統</a>
    <hr/>
    <!-- 留言區 -->
    <form class = "type-title" action="/message" method="POST">
        <b>快來留言吧</b><br/>
        <input type="text" name="content"/><br/>
        <input class = "button" type="submit" value="送出"></input>
    </form>
    <div class="board">
        {% for i in content %}
        <div class="message">{{ i.0 }} ： {{ i.1 }}</div>
        {% endfor %}
    </div>
    <!-- 查詢會員 -->
    <form  class="type-title" id="search_form">
        <b>查詢會員姓名</b><br/>
        <input id="name" type="text" name="username"/>
        <button onclick="get_name();" type="button">查詢</button>
    </form>
    <br/>
    <!-- 更改姓名 -->
    <form class="type-title" id="alter_form">
        <b>更新我的姓名</b><br/>
        <input id="alter" type="text" name="alter">
        <button onclick="alter_name();" type="button">更新</button>
    </form>
    
    <script type="text/javascript" src="fetch.js">
    </script>
</body>
</html>